body {
    background-image: url(https://images.ctfassets.net/usf1vwtuqyxm/6LbbjwYUPegy7jj863W3Rp/02d613a6f45a4b1120475cc3999bab1f/qtta_02-homepage.png?w=1440&h=1024&fit=fill&fm=webp);
    margin: 0;
}

.staticLayoutWhole {
    /* display: grid;
    grid-template-columns: repeat( 31, 1fr);
    grid-template-rows: repeat(15, 0.25fr); */
    display: flex;
        justify-content: center;
    /* background-color: black; */
    height: 100em;
    backdrop-filter: brightness(65%);
}

.navbarDiv {
    z-index: 100;
}

.navbar {
    display: flex;
        align-items: center;
        justify-content: center;
    height: 8.5em;
    width: 100%;
    position: fixed;
        top: 0;
        left: 0;
}

.navbarTop {
    display: flex;
        align-items: center;
        justify-content: center;
    position: fixed;
        top: 0;
        left: 0;
    width: 100%;
    height: 5em;
    /* background-color: rgb(31, 31, 53);  */
}

#navbarLogo {
    position: fixed;
    top: 0.6em;
    right: 45.6%;
}

.loginNavBarButton {
    position: fixed;
    right: 7.5%;
    top: 4.5%;
}

#loginButton {
    font-family: Sofia Pro, serif;
    background: #6b63b5;
    color: #f9f4f2;
    border: unset;
    width: 6.3em;
    height: 1.9em;
    border-radius: 3px;
    font-size: 12px;
    font-family: Sofia Pro,serif;
}

.navbarBottom {
    /* background-color: black; */
    height: 3.5em;
    width: 100%;
    display: flex;
        justify-content: center;
        align-items: center;
    position: fixed;
        top: 5em;
    border-top: 1px solid hsla(0,0%,100%,.15);
}

.navbarLinkItems {
    width: 71em;
}

.navbarLinkList {
    width: 100%;
    padding: 0;
    display: inline-flex;
        justify-content: space-between;
}

.navbarItem {
    color: white;
    font-family: Sofia Pro,serif;
    font-size:14px;
    font-weight: 700;
    list-style-type: none;
}

.navbar:hover {
    background-image: linear-gradient(to bottom, rgb(41, 39, 56) 0%, rgb(41, 39, 56) 60%, rgb(24, 24, 27), 60%,rgb(24, 24, 27) 50%);
}

.harryPotterText {
    height: 7em;
    width: 20.2em;
    /* grid-column-start: 16;
    grid-row-start: 6;    
    display: ; */
    position: relative;
    left: 29.8em;
    top: 9em;
}

#hpFanClubLogo {
    height: 8em;
    width: 21em;
    background-image: url(../../imageAssets/hpLogo.png);
    background-size: cover;
    display: grid;
    grid-template: repeat(4, 1.75em) / 10em 2em 8.5em 0.5em;
}

#hpFanClubTM {
    font-size: 0.5em;
    color: white;
    grid-row-start: 3;
    grid-column-start: 4;
}

#hpFanClubFC {
    color: white;
    font-family: Sofia Pro,serif;
    font-size: 1.5em;
    font-weight: bold;
    grid-row-start: 4;
    grid-column-start: 3;
}

.quidditchDiv {
    /* background-color: gray; */
    width: 60em;
    height: 25em;
    position: relative;
    top: 20em;
    right: 10em;
    display: grid;
    grid-template: repeat( 25, 1em) / repeat( 60,1em);
}

#quidditchHeader {
    font-family: Bluu Next,serif;
    color: #f9f4f2;
    height: 3.5em;
    width: 12.1em;
    font-size: 3.33em;
    grid-row-start: 1;
    grid-column-start: 11;
    text-align: center;
    margin-top: 0;
    /* background-color: black; */
}

#quidditchP {
    font-family: Sofia Pro,serif;
    font-size: 16px;
    color: #f9f4f2;
    height: 4em;
    width: 25em;
    grid-row-start: 13;
    grid-column-start: 19;
    text-align: center;
    /* background-color: darkblue; */
}

.quidditchButtonBox {
    width: 320px;
    grid-row-start: 20;
    grid-column-start: 22;
}

#quidditchButton {
    background-color: #6b63b5;
    height: 5em;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-family: Sofia Pro, serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 18px 31px;
}